*{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      -webkit-tap-highlight-color: transparent;
      user-select: none;
}

body {
      background: linear-gradient(140deg, rgba(239 239 239), #eee);
      height: 100vh;
      width: 100%;
      font-family: poppins, sans-serif;
      overflow-x: hidden;
}

section {
      width: 100%;
      background: inherit;
      padding-top: 30px;
}

::selection {
      background-color: rgba(255, 255, 255, .50);
      color: inherit;
}

#one {
      background: linear-gradient(rgba(0, 0, 0, 0.4), #222),url(../img/1.jpg); /*Photo by <a href="https://unsplash.com/@guoshiwushuang?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Michael Lee</a> on <a href="https://unsplash.com/photos/py1EaWJdNWU?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>*/
      background-size: cover;
      background-repeat: no-repeat;
      transform: skewX(-3deg);
      height: auto;
}

.menu_with_logo {
      /* background: white; */
      height: 10%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
}

.menu_with_logo .logo {
      width: 40%;
      /* background: red; */
      height: 100%;
}

.menu_with_logo .menu-link {
      width: 60%;
      height: 100%;
      /* background: green; */
      display: flex;
      justify-content: center;
      align-items: center;
}

.menu-link ul {
      height: 70%;
      width: 76%;
      /* background: orangered; */
      display: flex;
      justify-content: space-evenly;
      align-items: center;
}

.menu-link ul li {
      list-style: none;
      font-size: 1.4vw;
      font-family: poppins;
      color: white;
      font-weight: 400;
      cursor: pointer;
}

.website_text_motto {
      height: auto;
      width: 66%;
      padding: 151px 10px 0px 83px;
}

.website_text_motto p {
      font-size: 3.4vw;
      color: lightgrey;
      font-weight: 800;
}


.website_text_motto p .text_anime_one {
      animation: Tanimeone 1.2s ease-in;
}
@keyframes Tanimeone {
      0% {
            opacity: 0;
            transform: translateY(140px);
      }
      50% {
            opacity: 0;
      }
      100% {
            opacity: 1;
            transform: translateY(0px);
      }
}

.website_text_motto p .text_anime_two {
      animation: Tanimetwo 1.8s ease-in;
}
@keyframes Tanimetwo {
      0% {
            opacity: 0;
            transform: translateY(140px);
      }
      50% {
            opacity: 0;
      }
      100% {
            opacity: 1;
            transform: translateY(0px);
      }
}

.website_text_motto p .text_anime_three {
      animation: Tanimethree 2.0s ease-in;
}
@keyframes Tanimethree {
      0% {
            opacity: 0;
            transform: translateY(140px);
      }
      50% {
            opacity: 0;
      }
      100% {
            opacity: 1;
            transform: translateY(0px);
      }
}

.location_input {
      height: auto;
      width: 50%;
      /* background: yellow; */
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 64px 0px;
}

.location_input .inputs_design {
      height: auto;
      width: 81%;
      background: white;
      border-radius: 73px;
      border: 2px solid #fff;
      backdrop-filter: blur(9px);
      padding: 14px 35px;
      animation: Tanimethree 2.5s ease-in;
      display: flex;
}

.inputs_design .icon {
      height: auto;
      width: 57px;
      /* background: red; */
}

.inputs_design .send {
      background: orangered;
      border-radius: 50%;
      height: 70px;
      width: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
}

.inputs_design .send svg {
      height: 70% !important;
      width: 70% !important;
      stroke: white !important;
      stroke-width: 2 !important;
  }

.inputs_design .icon svg {
      height: 100%;
      width: 100%;
      stroke: grey;
      stroke-width: 1.5;
}

.inputs_design .input_box {
      height: 100%;
      width: calc(100% - 26%);
}

.input_box input {
      padding: 22px;
      width: 100%;
      background: inherit;
      border: none;
      outline: none;
      font-size: 1.8vw;
      font-weight: 600;
      color: grey;
      font-family: sans-serif;
}

.input_box input::selection {
      background-color: orangered;
      color: white;
}

#two {
      background: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
}

#two .lists {
      /* height: 85%; */
      width: 97%;
      background: white;
      border-radius: 200px/20px 50px 50px 250px;
      transform: skewX(4deg);
      height: auto;
      padding: 9vw 20px;
      display: flex;
      justify-content: center;
      align-items: center;
}

.lists ul {
      height: 100%;
      width: 95%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 15px;
}

.lists ul li {
      list-style: none;
      height: auto;
      width: auto;
      /* background: yellow; */
      display: flex;
      flex-direction: column;
      gap: 11px;
      transition: all 0.6s ease-in-out;
      justify-content: center;
      align-items: center;
}

.lists ul li:hover {
      transform: scale(1.05);
      box-shadow: 0px 2px 20px rgba(8 8 8 / 3%);
      cursor: pointer;
}

.lists ul li .icon_img {
      /* height: 50%; */
      /* width: 100%; */
      /* background: red; */
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
      width: 60%;
}

.icon_img img {
      height: 100%;
      width: 100%;
      object-fit: cover;
}

.lists .main_text {
      /* background: red; */
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
}

.main_text p {
      font-size: 1.8vw;
      font-weight: 600;
      color: #333;
      border-bottom: 2px solid rgba(239 239 239);
}

.lists .sub_text {
      /* background: red; */
      width: auto;
      height: auto;
      padding: 0px 2.4vw;
      text-align: center;
      color: dimgrey;
      line-height: 1.6;
}

.sub_text p {
      text-align: center;
      color: dimgrey;
      line-height: 1.6;
}

#three {
      background-color: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
      padding-top: 250px;
}

#three .review_board{
      height: 85%;
      width: 97%;
      background: white;
      border-radius: 100px 50px 50px 150px/200px;
}


.review_board .title {
      height: auto;
      width: 100%;
      /* background: red; */
      padding: 49px 106px;
}

.review_board .title p {
      font-size: 2.5vw;
      font-weight: 700;
      color: #333;
      border-bottom: 1px solid darkgrey;
      width: fit-content;
}

.review_board .card_section {
      height: 75%;
      width: 100%;
      /* background: red; */
      padding: 40px 100px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      gap: 26px;
}

.card_section .card {
      width: 30%;
      height: auto;
      background: white;
      border-radius: 18px;
      box-shadow: 0px 3px 10px rgba(8 8 8 / 7%);
      /* transform: skewX(-3deg); */
      display: flex;
      justify-content: space-evenly;
      /* align-items: center; */
      padding: 23px 0px;
      transition: all 0.5s ease-in-out;
}

.card_section .card:hover {
      cursor: pointer;
      transform: scale(1.04);
}

.card .tweet_avatar {
      height: 40px;
      width: 40px;
      background: rgba(239 239 239);
      border-radius: 50%;
}

.tweet_avatar img {
      height: 100%;
      width: 100%;
      border-radius: inherit;
      object-fit: cover;
}

.card .tweet_body{
      width: calc(100% - 68px);
      /* background: yellow; */
}

.tweet_body .tweet_name {
      /* background: red; */
      height: auto;
      width: 100%;
      display: flex;
}

.tweet_name p {
      font-size: 1.3vw;
      color: #333;
      font-weight: 600;
}

.tweet_body .tweet_testimonial {
      height: auto;
      width: auto;
}

.tweet_testimonial p {
      font-size: 1.15vw;
      color: darkgrey;
      font-weight: 300;
}

.reveal {
      position: relative;
      transform: translateY(200px);
      transition: all 2s ease-in-out;
      opacity: 0;
}

.reveal.active {
      opacity: 1;
      transform: translateY(0px);
}

.zoomout {
      position: relative;
      /* transform: scale(0.8); */
      transition: all 2s ease-in-out;
      /* opacity: 0; */
      
}

.zoomout.active {
      animation: zooming 2s ease-in-out;
}

@keyframes zooming {
      0% {
            opacity: 0.4;
            transform: scale(1.10);
      }
      100% {
            opacity: 1;
            transform: scale(1);
      }
}

.mobile_menu {
      display: none;
      right: 0;
}


.main_wrapper {
      transform: translateX(0%);
      transition: all 0.7s ease-in-out;
}

.overlay {
      display: none;
}

@media (max-width: 768px) {
      .overlay.active {
            height: 100%;
            width: 100%;
            z-index: 9;
            position: fixed;
            top: 0;
            display: block;
            animation: colorchangeanime 1.2s forwards ease-in;
      }
      @keyframes colorchangeanime {
            0%,50% {

            }
            100%{
                  background: rgba(0, 0, 0, 0.8);
            }
      }
      .main_wrapper.shift {
            transform: translateX(-56%);
            /* background: rgba(0, 0, 0, 0.4); */
            z-index: 9;
            position: fixed;
            top: 0;
            transition: all 0.7s ease-in-out;
      }
      .menu_page {
            /* display: none; */
            transition: all 0.7s ease-in-out;
            transform: translateX(100%);
      }
      .menu_page.active {
            height: 100vh;
            width: 56%;
            background: white;
            position: fixed;
            top: 0;
            right: 0;
            transition: all 0.7s ease-in-out;
            display: block;
            animation: menuopenanime 0.7s ease-in-out;
            transform: translateX(0%);
      }

      @keyframes menuopenanime {
            0% {
                  /* transform: translateX(100%); */
            }
      }

      .menu_page .content {
            height: 100%;
            width: 100%;
      }

      .menu_page .content .head {
            height: auto;
            width: 100%;
            /* background: red; */
            padding: 5px 12px;
      }

      .menu_page .content .head .icon {
            height: 40px;
            width: 40px;
            background: rgba(239 239 239);
            border-radius: 50%;
            /* border: 1px solid darkgrey; */
            display: flex;
            justify-content: center;
            align-items: center;
      }

      .menu_page .content .head .icon svg {
            height: 60%;
            width: 60%;
            stroke: grey;
            stroke-width: 3;
      }

      .menu_page .content .body {
            height: auto;
            width: 100%;
            /* background: yellow; */
            padding: 46% 30px 0px 20px;
      }

      .menu_page .content .body ul {
            height: auto;
            width: 100%;
            /* background: red; */
            display: flex;
            flex-direction: column;
            gap: 41px;
            justify-content: center;
      }

      .menu_page .content .body ul li {
            list-style: none;
            height: auto;
            width: fit-content;
            font-size: 5.4vw;
            font-weight: 600;
            letter-spacing: 1.3px;
            padding: 7px 15px;
            border-radius: 20px;
            color: #333;
      }

      .menu_page .content .body ul li.active {
            background: rgba(239 239 239);
      }

      .menu_page .content .footer_btns {
            position: absolute;
            bottom: 0;
            /* background: yellow; */
            width: 100%;
            height: auto;
            padding: 120px 12px;
            display: flex;
            justify-content: center;
            align-items: center;
      }

      .menu_page .content .footer_btns .btn {
            width: 92%;
            height: auto;
            background: white;
            border-radius: 30px;
      }

      .menu_page .content .footer_btns .btn button {
            height: 100%;
            width: 100%;
            padding: 17px;
            background: inherit;
            border: 4px solid #111;
            border-radius: inherit;
            outline: none;
            font-size: 4vw;
            font-weight: 900;
            color: #111;
            font-family: 'poppins';
      }

      .mobile_menu {
            height: auto;
            background: #fff;
            width: 100%;
            padding: 1px 6px;
            display: flex;
      }

      .mobile_menu .content {
            height: auto;
            width: 100%;
            display: flex;
            gap: 13px;
      }

      .mobile_menu .content .left {
            height: auto;
            width: 60%;
            /* background: red; */
            padding: 15px;
            display: flex;
            justify-content: celeftnter;
            align-items: center;
      }

      .mobile_menu .content .right {
            width: 40%;
            height: auto;
            /* background: yellow; */
            padding: 16px;
            display: flex;
            gap: 9px;
      }

      .mobile_menu .content .right .cart {
            background: rgba(239 239 239);
            border-radius: 50%;
      }

      .mobile_menu .content .right .icon {
            height: auto;
            width: 73%;
            display: flex;
            justify-content: center;
            align-items: center;
      }

      .mobile_menu .content .right .icon svg{
            height: 70%;
            width: 70%;
            stroke: grey;
            stroke-width: 2;
      }

      .mobile_menu .left .logo {
            height: auto;
            width: 58%;
            /* background: green; */
      }

      .mobile_menu .left .logo img {
            width: 100%;
            height: 100%;
            object-fit: cover;
      }

      #one {
            transform: skew(0deg);
      }

      .menu_with_logo .menu-link {
            display: none;
      }

      .website_text_motto {
            width: 100%;
            height: auto;
            padding: 1px 17px 0px 15px;
            margin: 18px 0px;
            /* background-color: red; */
      }
      
      .website_text_motto p {
            font-size: 9vw;
            font-weight: 300;
      }

      .location_input {
            width: 100%;
            padding: 30px 0px;
            /* position: absolute; */
      }

      .location_input .inputs_design{
            width: 92%;
            padding: 14px 21px;
            justify-content: space-between;
            align-items: center;
      }

      .inputs_design .icon {
            width: 40px;
      }

      .inputs_design .send {
            height: 50px;
            width: 50px;
            border: 2px solid rgba(239 239 239);
      }
      
      .inputs_design .send svg {
            height: 59% !important;
            width: 59% !important;
      }

      .input_box input {
            font-size: 4.3vw;
            font-weight: 500;
            padding: 12px 11px;
            text-align: center;
            font-family: 'poppins', sans-serif;
      }

      #two {
            height: auto;
            padding: 6px;
      }

      #two .lists {
            height: auto;
            width: 97%;
            border-radius: 200px/0px 50px 50px 36px;
            transform: skew(0deg);
            padding: 0px 0px 30px 0px;
      }

      .lists ul {
            flex-direction: column;
            gap: 120px
      }

      .lists ul li {
            width: 100%;
            height: auto;
            justify-content: center;
            align-items: center;
      }

      .lists ul li .icon_img {
            height: auto;
            width: 50%;
      }

      .icon_img img {
            width: 100%;
      }

      .main_text p {
            font-size: 6vw;
      }

      .sub_text {
            padding: 0px 28px;
            margin-top: 13px;
      }

      #three {
            height: auto;
      }

      #three .review_board {
            height: auto;
            border-radius: 10px 30px 150px/40px 150px;
      }

      .review_board .title {
            padding: 36px 46px;
      }

      .review_board .title p {
            font-size: 5.5vw;
      }

      .review_board .card_section {
            padding: 40px 39px;
            flex-wrap: nowrap;
            gap: 14px;
            flex-direction: column;
      }

      .card_section .card {
            width: 100%;
            padding: 17px 0px 16px 0px;
      }

      .card .tweet_avatar {
            height: 30px;
            width: 30px;
      }

      .tweet_name p {
            font-size: 4.6vw;
      }

      .tweet_testimonial p {
            font-size: 3.2vw;
      }
}