.home-wrapper .body .content .note {
      height: 81%;
      width: 100%;
      /* background: aquamarine; */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
